<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/tables.css}">
    <title>Category list</title>
</head>
<body>
<div class="container">
    <div>
        <h1 class="leftTitle">Nice to see you again, <span th:text="${session.user}"></span></h1>
        <a class="logout" href="Logout">Logout</a>
    </div>

    <div class="clearBoth"></div>
    <p class="errorMessage" th:text="${errorMessage}"></p>
    <div class="sideTable">
        <h2>Move a category</h2>
        <table class="pure-table pure-table-horizontal">
            <tbody>
            <tr>
                <td>(Root)</td>
                <td><!----></td>
                <td>
                    <div th:if="${!names.isEmpty()}">
                        <form action="MoveCategory" method="POST">
                            <input type="hidden" name="fromid" th:attr="value=${id}">
                            <input type="hidden" name="toid" value="0">
                            <input type="submit" name="submit" value=">>move here">
                        </form>
                    </div>
                </td>
            </tr>
            <tr th:each="c : ${tree}">
                <td>
                    <div th:class="${(names.isEmpty() || names.contains(c.getName())) ? 'base' : 'highlighted'}" th:utext="${c.getHTMLSpaces()} + ${c.getId()} +' '+ ${c.getName()}"></div>
                </td>
                <td>
                    <div th:if="${names.isEmpty()}">
                        <a th:href="@{/Home(id=${c.getId()})}"> >> move to...</a>
                    </div>
                </td>
                <td>
                    <div th:if="${names.contains(c.getName())}">
                        <form action="MoveCategory" method="POST">
                            <input type="hidden" name="fromid" th:attr="value=${id}">
                            <input type="hidden" name="toid" th:attr="value=${c.getId()}">
                            <input type="submit" name="submit" value=">>move here">
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="sideForm">
        <h2>Add a category</h2>
        <form action="AddCategory" method="POST">
            <div class="column">
                <input type="text" name="name" id="name" placeholder="Category's name" required>
            </div>
            <div class="column">
                <input type="text" name="father" id="father" placeholder="Category's father" required>
            </div>
            <input class="submitButton" type="submit" value="Add">
        </form>
    </div>
</div>
</body>
</html>