<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Category list</title>
</head>
<body>
    <h1>Category list</h1>
        <p>
            <span th:text="${'Nice to see you again, ' + session.user}"></span>
            <a href="Logout">(logout)</a>
        </p>
    <table>
        <tbody>
            <tr>
                <td>(Root)</td>
                <td><!----></td>
                <td>
                    <div th:if="${!names.isEmpty()}">
                        <form action="MoveCategory" method="POST">
                            <input type="hidden" name="fromid" th:attr="value=${id}">
                            <input type="hidden" name="toid" value="0">
                            <input type="submit" name="submit" value=">>move here">
                        </form>
                    </div>
                </td>
            </tr>
            <tr th:each="c : ${tree}">
                <td>
                    <div th:class="${(names.isEmpty() || names.contains(c.getName())) ? 'base' : 'highlighted'}" th:utext="${c.getHTMLSpaces()} + ${c.getId()} +' '+ ${c.getName()}"></div>
                </td>
                <td>
                    <div th:if="${names.isEmpty()}">
                        <a th:href="@{/Home(id=${c.getId()})}"> >> move to...</a>
                    </div>
                </td>
                <td>
                    <div th:if="${names.contains(c.getName())}">
                        <form action="MoveCategory" method="POST">
                            <input type="hidden" name="fromid" th:attr="value=${id}">
                            <input type="hidden" name="toid" th:attr="value=${c.getId()}">
                            <input type="submit" name="submit" value=">>move here">
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <p th:text="${errorMessage}"></p>
    <h1>Add a category</h1>
    <form action="AddCategory" method="POST">
        <label for="name">New category's name: </label>
        <input type="text" name="name" id="name" placeholder="Category's name" required>
        <label for="father">Father's name: </label>
        <input type="text" name="father" id="father" placeholder="Category's father" required>
        <input type="submit">
    </form>
</body>
</html>