<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Category list</h1>
    <p th:text="${'Nice to see you again ' + session.user}"></p>
    <table>
        <tbody>
            <tr th:each="c : ${tree}">
                <td>
                    <div th:text="${c.getHTMLSpaces()} + ${c.getId()} +' '+ ${c.getName()}"></div>
                </td>
                <td>
                    <a th:href="@{/MoveTo(name=${c.getName()})}"> >> move to...</a>
                </td>
            </tr>
        </tbody>
    </table>

    <p th:text="${errorMessage}"></p>
    <form action="AddCategory" method="POST">
        <label for="name">New category's name: </label>
        <input type="text" name="name" id="name" placeholder="Category's name">
        <label for="father">Father's name: </label>
        <input type="text" name="father" id="father" placeholder="Category's father">
        <input type="submit">
    </form>
</body>
</html>