<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Demo check</title>
</head>
<body>
<h1 th:text="#{index.welcome}">Hello World!</h1>
<br/>
<a href="hello-servlet">Hello Servlet</a>
<form action="hello-servlet" method="POST">
    <label for="user">Username</label>
    <input type="text" id="user" name="user" placeholder="Username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Password">
    <input type="submit" >
    <p th:text="#{errorMessage}"></p>
</form>
</body>
</html>