<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Move to...</title>
</head>
<body>
<h1>Move a category</h1>
<table>
    <tbody>
        <tr th:each="c : ${tree}">
            <td>
                <div th:utext="${c.getHTMLSpaces()} + ${c.getId()} +' '+ ${c.getName()}"></div>
            </td>
            <td>
                <div th:if="${names.contains(c.getName())}">
                    <form action="MoveHere" method="POST">
                        <input type="hidden" name="fromid" th:attr="value=${id}">
                        <input type="hidden" name="toid" th:attr="value=${c.getId()}">
                        <input type="submit" name="submit" th:attr="value=${'move under '+ c.getName()}">
                    </form>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<p th:text="${errorMessage}"></p>
</body>
</html>