<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Move to...</title>
</head>
<body>
<h1>Move a category</h1>
<table>
    <tbody>
    <tr th:each="c : ${tree}">
        <td>
            <div th:utext="${c.getHTMLSpaces()} + ${c.getId()} +' '+ ${c.getName()}"></div>
        </td>
        <td>
            <div th:if="${c.getName() != name}">
                <a th:text="move here..." th:href="@{/MoveHere(fromname=name,toname=${c.getName()})}">
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<p th:text="${errorMessage}"></p>
</body>
</html>